body {
  margin:0px;
  height:100vh;
}

.predict-description{
    height: 50vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
  height:60%;
  display:flex;
  align-items:center;
  justify-content:center;

}
.form-input {
  width:350px;
  padding:20px;
  background:#fff;
  box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
              3px 3px 7px rgba(94, 104, 121, 0.377);
}
.form-input input {
  display:none;

}
.form-input label {
  display:block;
  width:45%;
  height:45px;
  margin-left: 25%;
  line-height:50px;
  text-align:center;
  background:#1172c2;

  color:#fff;
  font-size:15px;
  font-family:"Open Sans",sans-serif;
  text-transform:Uppercase;
  font-weight:600;
  border-radius:5px;
  cursor:pointer;
}

.form-input img {
  width:100%;
  display:none;

  margin-bottom:30px;
}

/*----------------------------------------------------- Results -----------------------------------------------------*/
/*============= Image Result Column =============*/
.row {
  display: flex;
}

.column {
  flex: 50%;
  height: 600px;
  text-align: center;

}


.box{
	background: #fff;
	display: inline-block;
	padding: 8% 20px;
	height: 500px;
	width: 400px;
	margin: 1rem;
}

.B_5{
	border: 5px solid rgba(27, 79, 114, 0.4);
	border-radius: 5px;
}

.B_5{
	box-shadow: 0 0 1rem 0 rgba(0,0,0,0.3);
}
.box:hover{
	box-shadow: 0 0 35px 20px rgba(79,69,66,0.2);
}

*{
	font-family: 'Baloo Bhaina', cursive;
	font-size: 20px;
}


/*============= Written Result Column =============*/
.sub-column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */

/*
.sub-row:after {
  content: "";
  display: table;
  clear: both;
}
*/